%nav-mega-menu-link {
  display: block;
  color: $heritage;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 2rem;
}
.mega-menu-container {
  display: flex;
  justify-content: space-between;
}
.nav-mega-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  background: $white;
  z-index: 100;
  max-width: 1145px;
  top: 6.4rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // left: 12.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-mega-menu-header {
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $grey3;
  }
  .sidemenu {
    margin: 0 0 0 1rem;
    padding: 1.5rem 0;
    border-right: 1px solid $grey3;
    padding-bottom: 2rem;
    width: 25rem;
    li {
      margin-left: 0;
    }
  }
  .nav-mega-menu-links-container {
    display: none;
    width: 61vw;
    padding: 0;
    &.active {
      display: flex;
    }
    .row.nav-mega-menu-links {
      margin-left: -1rem;
    }
    .nav-mega-menu-links {
      display: flex;
      justify-content: space-between;
      // width: 100%;
      height: 100%;
      .nav-mega-menu-link-column {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        flex-basis: 59%;
        max-width: 59%;
        padding-top: 2.5rem;

        a.mega-menu-link {
          @extend %nav-mega-menu-link;
          padding: 1rem;
          margin-left: 1rem;
          margin-right: 1rem;
          text-transform: initial;
          word-break: break-word;
          &:hover {
            text-decoration: none;
            text-shadow: none;
            -webkit-text-stroke: unset;
            background: $softgreen;
          }
          .link-text:hover {
            @include underline-hover;
          }
          .nav-mega-menu-link-description {
            display: inline-block;
            line-height: 2.2rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: $asphalt;
            word-break: break-word;
            p {
              @extend .nav-mega-menu-link-description;
              margin: 0;
            }
          }
        }
      }
      .nav-mega-menu-feature {
        // position: relative;
        // left: 0.6rem;
        background: $grey1;
        max-width: 34.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-transform: initial;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        a {
          @extend %nav-mega-menu-link;
          padding: 1rem 0 1rem 0;
          &:hover {
            @include underline-hover;
          }
        }
        background: $grey1;
        .nav-mega-menu-featured-title {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2rem;
        }
        .nav-mega-menu-featured-description {
          font-size: 1.4rem;
          line-height: 2.2rem;
          word-break: break-word;
        }
        img.nav-mega-menu-featured-image {
          flex: 0 0 auto;
          width: 28.4rem;
          height: auto;
        }
        ul.nav-mega-menu-featured-links {
          list-style: none;
          padding-left: 0;
          margin-top: auto;
          margin-bottom: 0.5rem;

          li {
            display: flex;
            text-transform: initial;
            line-height: 2rem;
            a {
              color: $heritage;
              border-bottom: none;
              font-size: 1.4rem;
            }
            &:before {
              content: "\A";
              flex: 0 0 auto;
              width: 0.4rem;
              height: 0.4rem;
              border-radius: 50%;
              background: $asphalt;
              display: inline-block;
              margin: 1.7rem 1rem 0 0;
            }
          }
        }
      }
    }
  }
}
