ul.sidemenu {
  list-style-type: none;
  padding-left: 0;
  li {
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    a {
      width: 100%;
    }
    a,
    a:visited {
      display: flex;
      text-decoration: none;
      color: $asphalt;
      padding: 1rem 2rem 1rem 1rem;
      border-left: 0.4rem transparent solid;
      .arrow {
        margin-top: 1rem;
        margin-left: auto;
      }
    }

    a:hover,
    a:visited:hover {
      background: $softgreen;
      border-left: 0.4rem $softgreen solid;
      overflow: hidden;
      color: $asphalt;
      text-shadow: none;
      -webkit-text-stroke: unset;
    }
  }
}
