%active-link {
  background: $softgreen;
  border-left: 0.4rem $softgreen solid;
  overflow: hidden;
  color: $asphalt;
  text-shadow: none;
  -webkit-text-stroke: unset;
}

ul.sidemenu {
  list-style-type: none;
  padding-left: 0;
  li {
    font-size: 1.6rem;
    font-weight: 700;
    width: 94%;
    margin-left: 1.8rem;
    a {
      text-transform: initial;
      width: 100%;
      padding-left: 1.5rem !important;
    }
    a,
    a:visited {
      display: flex;
      text-decoration: none;
      color: $asphalt;
      padding: 1rem 2rem 1rem 1rem;
      border-left: 0.4rem transparent solid;
      .arrow {
        margin-top: 1rem;
        margin-left: auto;
      }
      &.active,
      &.active:hover {
        @extend %active-link;
        border-left: 0.4rem $heritage solid;
      }
    }

    a:hover,
    a:visited:hover {
      @extend %active-link;
      border-left: 0.4rem $softgreen solid;
    }
  }
}
