// COLORS
// COLORS // Primary Colors
.heritage {
  background-color: $heritage;
}
.heritage-txt {
  color: $heritage;
}
// Sweet Grass
.sweet-grass {
  background-color: $sweetgrass;
}
.sweet-grass-txt {
  color: $sweetgrass;
}
// Big Sky
.big-sky {
  background-color: $bigsky;
}
.big-sky-txt {
  color: $bigsky;
}
.asphalt {
  background-color: $black;
}
.asphalt-txt {
  color: $black;
}
.white {
  background-color: $white;
}
.white-txt {
  color: $white;
}
// COLORS // Secondary Colors 
.usda-blue {
  background-color: $dkblue;
}
.usda-blue-txt {
  color: $dkblue;
}
.dandelion {
  background-color: $yellow;
}
.dandelion-txt {
  color: $yellow;
}
.maple {
  background-color: $red;
}
.maple-txt {
  color: $red;
}
// COLORS // Low Saturation Colors
.soft-green {
  background-color: $softgreen;
}
.soft-yellow {
  background-color: $softyellow;
}
.soft-red {
  background-color: $softred;
}
// COLORS // Gray Scale
.grey-1, .gray-1 {
  background-color: $grey1;
}
.grey-2, .gray-2 {
  background-color: $grey2;
}
.grey-3, .gray-3 {
  background-color: $grey3;
}
.grey-4, .gray-4 {
  background-color: $grey4;
}
.grey-5, .gray-5 {
  background-color: $grey5;
}
// COLORS // Special States
.visited-color {
  background-color: $visited !important;
}
.focus-color {
  background-color: $focus !important;
}
.hover-color {
  background-color: $hover !important;
}
.active-color {
  background-color: $active !important;
}
.disabled {
  background-color: $disabled;
}
// END COLORS
